<div class = "row">
    <div class = "col-md-6">
        <img class = "img-responsive thumbnail" src = "images/about.jpg">
    </div>
    <div class = "col-md-6 well">
      <h2 class="media-heading text-center"><u>History</u></h2>
        <p>Latin Rhythms Dance Company was founded in January 2000, with a focus to promote the appreciation, spirit, and joy of Latin dance throughout Illinois. That same year, Ritmo Magazine named Latin Rhythms, “2000 Dance Company of the Year."</p>

        <p>Through the founders’ direction, the company has recruited members who share their passion and love for dance. Each of LRDC’s dancers has a unique and exciting style, which they have developed over years of dancing. Their varied dance experiences include professional training, performance experience, and nightclub influence. </p>

        <p>Adding to the distinctiveness of Latin Rhythms Dance Company, the dancers come from various professional and educational backgrounds, which range from bankers, to entrepreneurs, to law school students. </p>
    </div>
</div>
<div class="row">
  <div class="box-icon">
      <h2 class = "text-center"><u>Peformances</u></h2>
  </div>
  <div class="info">
      <div class="list-group col-md-6">
        
            <li class="list-group-item">Cultural Center, Mayor Daley's Mexican-American Celebration</li>
            <li class="list-group-item">1st & 2nd Annual Bacardi Salsa Congresso in Chicago</li>
            <li class="list-group-item">7th & 8th Annual Bacardi Salsa Congresso en Puerto Rico</li>
            <li class="list-group-item">Hyatt Regency Hotel, Hispanic Leadership Conference</li>
            <li class="list-group-item">Buzz Nightclub Chicago</li>
            <li class="list-group-item">Nacional 27 Restaurant Chicago</li>
            <li class="list-group-item">CBS News Morning Show</li>
            <li class="list-group-item">Humboldt Park, Fiesta Boriqua</li>
            <li class="list-group-item">Excalibur Night Club Chicago</li>
            <li class="list-group-item">House of Blues, Hispanic Democratic Organization Fundraiser</li>
            <li class="list-group-item">Mexican Fine Arts Museum/Harrison Park </li>
      </div>
      <div class="list-group col-md-6">
            <li class="list-group-item">Mexican President Vincente Fox's visit to Chicago</li>
            <li class="list-group-item">Bacardi Salsa Congresso en Los Angeles</li>
            <li class="list-group-item">Soldier Field, Pan-American Annual Festival</li>
            <li class="list-group-item">Congressman Luis Gutierrez Fundraiser</li>
            <li class="list-group-item">Navy Pier Crystal Garden, 25th Ward Alderman Fundraiser</li>
            <li class="list-group-item">Pilsen Neighborhood Festival, Fiesta del Sol </li>
            <li class="list-group-item">Fox in the Morning Show</li>
            <li class="list-group-item">United Center, Bulls vs. Lakers Pre-game Show </li>
            <li class="list-group-item">Cadbury-Schweppes (Dentyne Gum)</li>
            <li class="list-group-item">Palmer House Hotel, Tommy and Gregory Holiday Gala </li>
            <li class="list-group-item">Daley Plaza, Summer Festival</li>
      </div>
  </div>
</div>

