<div class = "row hidden-md hidden-lg">
    <div class = "col-sm-12">
        <img  class = "img-responsive center-block thumbnail" src = "images/students.jpg">
    </div>
</div>

<div class = "row">
    <div class = "col-md-6">
        <h2>What You Can Expect from Every Class...</h2>
        <ul>
            <li><strong>Certified Curriculum!</strong> All instructors follow a certified curriculum which is developed by the Artistic Director, Maricza Valentin. Maricza has been teaching since 1988 and is a graduate of Columbia College-Chicago with a degree in dance performance, teaching, and choreography.</li> 
            <li><strong>Enter at ANY Skill Level!</strong> Courses are structured to meet the needs of our students and their diverse skill levels, from complete beginner to seasoned pro. <p>Not sure where to start? Let us evaluate you for FREE. Drop by our studio any time during business hours and we will assess your skill level honestly and objectively and place you in a class best suited for you.</p></li>
            <li><strong>Flexible Schedule!</strong> Classes are designed to work with your current schedule -- Monday-Friday evenings and Saturday mornings. One class = 4 sessions which meet 1 hour per week for 4 weeks.</li>
        </ul>
    </div>
    <div class = "col-md-6">
        <h2>Start Dancing Today with Easy, Affordable Payment Options!</h2>
        <ul>
            <li><strong>Reasonably Priced, Lifetime Value!</strong> Classes are only $75 per month... because each class is broken down into four 1-hour sessions, your cost is just $18.75 per hour. <p>
And with our award winning team providing you with the best instruction in Chicagoland, the cost for a class is a bargain when you consider the lifetime of fun, enjoyment and self-achievement you will gain!</p></li>
            <li><strong>College Students Discounts!</strong> College students receive a $15 OFF discount on all classes with valid ID & student must be 25 yrs or younger.</li>
        </ul>
    </div>
</div>

<div class = "row">
    <div class = "col-md-6">
        <h2>Studio Policy</h2>
        <p>All paid student registrations are considered final. However, we realize life may throw us some curve balls, creating unforeseen circumstances that may force us/you to cancel or miss a class/session, (with prior notice). To accommodate these “curveballs,” we have established the following policies:</p>
        <ul>
            <li><strong>Make Up Policy:</strong> We strongly encourage you not to miss any of the four classes that make up your session. You’re paying for four classes, so it’s financially worthwhile for you not to miss. 
                <p>But more importantly, new material is covered every class, so missing a class would more than likely force you to fall behind. However, we realize unforeseen scheduling conflicts do arise, and therefore, you may be forced to miss a class.</p>
                <p>
If this is the case, we encourage you to attend another class (same level/style) during the week the class was missed. Prior to this make-up class, you must notify your instructor or the front desk, in order to determine make-up class availability.</p>
            </li>
            <li><strong>Refunds/Credits:</strong> Full refund or credit valid up to 3 months will only be issued if you contact Latin Rhythms to cancel your session prior to the start date of the first class.
                <p>
In the event a class is cancelled, you will have the option to request a full refund or receive a credit (in the amount paid), to be applied towards another running class during the current or the following 3 sessions. All refunds MUST BE requested prior to the next session start date. In the event a credit is requested, these credits will be good for 90 days only. </p>
            </li>
            <li>By enrolling in Latin Rhythms' Dance Studio, you agree that Latin Rhythms Dance Studio is NOT responsible for accidental injury or loss of property.</li>
        </ul>
    </div>
    <div class = "hidden-xs hidden-sm col-md-6">
        <img  class = "img-responsive center-block thumbnail" src = "images/students.jpg">
    </div>
</div>
