
<div class = "row">
    <div class = "col-md-12">
        <h2 class = "text-center">Join our STUDIO SOCIALS</h2>
        <img class = "img-responsive center-block thumbnail" src = "images/events.jpg">
    </div>
</div>
  <br/>   
<div class = "row">
    <div class = "col-md-offset-3 col-md-6">

        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading"> FRIDAY, OCTOBER 9TH</h4>
            <p class="list-group-item-text">
               Social Mixer! Dance Bachata, Salsa, Merengua, and Cumbia!
            </p>
          </a>
        </div>  
      

        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading"> SATURDAY, OCTOBER 31ST: SPECIAL HALLOWEEN SOCIAL</h4>
            <p class="list-group-item-text">
               WEAR YOUR BEST COSTUMES BEST COSTUME PRIZE GIVEAWAYS 
            </p>
          </a>
        </div>
    </div>
</div>
