<div class = "container">
  <div class = "sign-up-box">
    <div class = "row">
      
      <div class = "col-md-8">
        <div class = "sign-up-picture">
          <div class = "sign-up-btn-circle"></div>
         </div>
      </div>
      
      <div class = "col-md-4">
        <div class = "sign-up-content">
          <h4 class = "text-center">Instructor</h4>
          
          <div class = "instructor-section">
          <img class = "instructor-pic center-block" src="https://s-media-cache-ak0.pinimg.com/236x/48/cc/d6/48ccd6e3d8bb87e880546643ce458976.jpg" alt="" />
            <div class = "instructor-name">Raquel Ramirez</div>
          </div>
          
      <table class="table table-striped">
        <thead> 
          <tr> <th>Dates</th> <th>Times</th> </tr> 
        </thead>
        
         <tbody> 
           <tr><th scope="row">5/3</th> <td>6pm - 7pm</td></tr> 
           <tr> <th scope="row">5/9</th> <td>6pm - 7pm</td></tr> 
           <tr><th scope="row">5/16</th> <td>6pm - 7pm</td></tr> 
           <tr><th scope="row">5/23</th> <td>6pm - 7pm</td></tr> 
         </tbody>
        
       </table>
          
          <a class = "btn-registration">Register</a>
          
        </div>
      </div>
      
    </div>
  </div>
</div>