<!-- Classroom Content -->
<div class = "classroom col-md-6">
  <!-- Navigation -->
    <ul class="nav nav-pills nav-stacked navigation-list"> 
      <li role="presentation" class="active"><a href="#">Class Discussion</a></li> 
      <li role="presentation"><a href="#">Music Request</a></li> 
      <li role="presentation"><a href="#">Message Instructor</a></li> 
    </ul>
</div>
<!-- Users Content/List -->
<div class = "col-md-3">
  <!-- User(Instructor) Picture -->
  <img class = "img-responsive img-circle teacher-pic" src="https://s-media-cache-ak0.pinimg.com/236x/48/cc/d6/48ccd6e3d8bb87e880546643ce458976.jpg" alt="" />
</div>