<div class = "row">
    <div class = "col-md-12 well">
        <h2>Basic 1 Bachata</h2>
        <strong>This class will teach you the four-beat basic step and movements of beginning Bachata, as well as:</strong>
        <ul>
            <li>Basic Bachata step & turns</li>
            <li>Partnering techniques</li>
            <li>Giving/receiving basic turn combinations</li>
            <li>Footwork styling options</li>
            <li>Music Theory</li>
        </ul>
        <p>At the end of week 4, with this class and a little dedication, you'll be ready for Basic 2 Bachata!</p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Basic 2 Bachata</h2>
        <strong>This class will teach you the essance of body movement in Bachata:</strong>
        <ul>
            <li>Fancier footwork patterns</li>
            <li>Proper hip & rib movement</li>
            <li>Introduction to body isolations</li>
            <li>Half rotations</li>
            <li>Complex wrap and lead reverse turn combinations</li>
        </ul>
        <p>This class will prepare you for Basic 3 Bachata!</p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Basic 3 Bachata</h2>
        <strong>This class will teach you the variations of Bachata Footwork:</strong>
        <ul>
            <li>Bachata cross body leads</li>
            <li>Intricate footwork patterns</li>
            <li>Intricate body isolations</li>
            <li>Turn combinations incorporating body movement</li>
            <li>Forward body rolls</li>
        </ul>
        <p>This class will prepare you for Intermediate 1 Bachata! </p>
    </div>
</div>


<div class = "row">
    <div class = "col-md-12 well">
        <h2>Intermediate 1 Bachata</h2>
        <p>FIVE to SIX month minimum at the Intermediate 1 Bachata level recommended for all of our students.</p>
        <p>Learn the proper technique and counts to successful cross-body’s, and how to link them to newly learned combinations.</p>
        <strong>Specific techniques you'll learn: </strong>
        <ul>
            <li>Partner hand tosses</li>
            <li>Introduction to basic dips</li>
            <li>Body rolls incorporated into partner work </li>
        </ul>
        <p>This class prepares you for Intermediate 2 Bachata!</p>
    </div>
</div>                

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Intermediate 2 Bachata</h2>
        <p>FIVE to SIX month minimum at the Intermediate 2 Bachata level recommended for all of our students.</p>
        <strong>Specific techniques you'll learn:</strong>
        <ul>
            <li>Partner hand tosses</li>
            <li>Introduction to spiral dips</li>
            <li>Incorporating double spins into partner work </li>
        </ul>
        <p></p>
    </div>
</div>
