<div class = "row">
    <div class = "col-md-12 well">
        <h2>Salsa To Cha Cha 1 & 2</h2>
        <p>Learn the technique and fundamental rules of beginning Cha Cha. We will explain and demonstrate thoroughly, the music, timing and counts, as well as how they apply to your basic Mambo step pattern.</p>
        <strong>You will also learn:</strong>
        <ul>
            <li> Dancing cha cha on2</li>
            <li> Basic Cha Cha patterns</li>
            <li> Basic turns - right, broken left, hook</li>
            <li> Partner work - proper body positioning, hand positioning</li>
            <li> Intermediate turn combinations</li>
            <li> Music theory & instrumentation</li>
        </ul>
        <strong>Why this class is different at Latin Rhythms:</strong>
        <p>A strong emphasis is placed on teaching the student how to understand the steps they are learning, versus simply memorizing a step or combination given by the instructor. The most effective way to accomplish this is by thoroughly explaining the timing and counts of the music, and how to apply it to the steps learned.</p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Intermediate 1 Cha Cha</h2>
        <p>Our Intermediate 1 Cha Cha classes will expand your knowledge and discipline of the Cha Cha technique and timing. It will also prepare you to lead and follow in Cha Cha more comfortably.</p>
        <strong>You will also learn:</strong>
        <ul>
            <li> Reinforced Partner Tension</li>
            <li> Multiple walking spin combinations</li>
            <li> Intermediate combinations</li>
            <li> Music Theory</li>
        </ul>
        <strong>Why this class is different at Latin Rhythms:</strong>
        <p>These classes not only focus on technique, but the importance of music awareness. Cha Cha students must apply an extra discipline when learning/dancing Cha Cha and Latin Rhythms will consistenly reinforce this in the Intermediate classes. </p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Intermediate 2 Cha Cha</h2>
        <p>Our Intermediate 2 Cha Cha classes will expand your knowledge and discipline of the Cha Cha technique and timing. It will also prepare you to lead and follow in Cha Cha more comfortably.</p>
        <strong>You will also learn:</strong>
        <ul>
            <li> Reinforced Partner Tension</li>
            <li> Multiple walking spin combinations</li>
            <li> Intermediate combinations</li>
            <li> Music Theory</li>
        </ul>
        <strong>Why this class is different at Latin Rhythms:</strong>
        <p>These classes not only focus on technique, but the importance of music awareness. Cha Cha students must apply an extra discipline when learning/dancing Cha Cha and Latin Rhythms will consistenly reinforce this in the Intermediate classes. </p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Advanced Cha Cha</h2>
        <p>In Advanced Cha Cha, you will become a technically sound and creative Cha Cha lead/follow!</p>
        <strong>You will also learn:</strong>
        <ul>
            <li>  Reinforced Partner Tension</li>
            <li> Advanced turn-combinations</li>
            <li> Ability to create your own intricate combinations</li>
        </ul>
        <strong>Why this class is different at Latin Rhythms:</strong>
        <p>Students at this level are officially dancing at the caliber of many of the Latin Rhythms Dance Company members. We teach many of the same combinations our dance company performs in this class. Cha Cha technique, timing and tension… this is what you’ will officially mastered by the end of this class.</p>
    </div>
</div>