<div class = "row">
    <div class = "col-md-12 well">
        <h2>Salsa To Mambo 1 & 2</h2>
        <p>Learn the technique and fundamental rules of beginning Mambo. We will explain and demonstrate thoroughly, the music, timing and counts, as well as how they apply to your basic Mambo step pattern.</p>

        <strong>Specific techniques learned in Salsa to Mambo 1 & 2:</strong>

        <ul>
            <li> Basic Mambo step pattern</li>
            <li> Basic turns - right, broken left, hook</li>
            <li> Partner work - proper body positioning, hand positioning</li>
            <li> Intermediate turn combinations</li>
            <li> Giving/receiving “preps”</li>
            <li> Music theory & instrumentation</li>
        </ul>
        <p>Chicago is a predominantly Salsa dancing city. But there is a Mambo trend making it’s way from the East, and strongly influencing us here. In keeping up with the latest style of Latin dancing, Latin Rhythms is one of the first studios offering a solid and extensive Mambo curriculum. All Salseros who would like to add Mambo to your repertoire, this is the class for you.</p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Intermediate Mambo</h2>
        <p>Our Intermediate Mambo classes will expand your knowledge and discipline of the Mambo technique and timing. It will also prepare you to lead and follow in Mambo more comfortably.</p>
        <strong>You will also learn:</strong>
        <ul>
            <li> Reinforced Partner Tension</li>
            <li> Giving/receiving preps</li>
            <li> Giving/receiving multiple spins</li>
            <li> Multiple spin combinations</li>
            <li> Lead turning options/additions</li>
            <li> Intermediate footwork/shines</li>
            <li> Music Theory</li>
            <p>In our opinion, Mambo is the most disciplined style of Latin dancing taught at Latin Rhythms. You’re breaking on a different count as you would in Salsa—you’re breaking on a “less obvious” count, that is. Therefore, because of the importance of music awareness in this class, Mambo students must apply an extra discipline when learning/dancing Mambo. </p>
        </ul>
    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Advanced Mambo</h2>
        <p>In Advanced Mambo, you will become a technically sound and creative Mambo lead/follow!</p>
        <strong>You will also learn:</strong>
        <ul>
            <li>  Reinforced Partner Tension</li>
            <li> Advanced turn-combinations</li>
            <li> Advanced partner footwork options</li>
            <li> Giving/receiving Triples (plus)</li>
            <li> Advanced Footwork/shines</li>
            <li> Ability to create your own intricate combinations</li>
        </ul>
        <strong>Why this class is different at Latin Rhythms:</strong>
        <p>Students at this level are officially dancing at the caliber of many of the Latin Rhythms Dance Company members. We teach many of the same combinations our dance company performs in this class. Mambo technique, timing and tension… this is what you’ will officially mastered by the end of this class.</p>
    </div>
</div>