<div class = "row">
    <div class = "col-md-12 well">
        <h2>Basic 1 Salsa</h2>
        <p>Our Basic Salsa class is your stepping stone into the world of salsa! Once you start the basic program, you'll be hooked!</p>

        <strong>You'll learn the fundamental rules and techniques of beginning salsa, including: </strong>
        <ul>
            <li>Basic salsa steps – forward to back, side to side.</li>
            <li>Basic right turn</li>
            <li>Basic lead & follow rules</li>
            <li>Proper body positioning, proper hand positioning</li>
            <li>Giving/receiving a three-turn combination</li>
            <li> Introduction to salsa music - theory, history, timing & counts</li>
            <li> Basic footwork/shines</li>
        </ul>

        <p>A strong emphasis is placed on teaching you how to understand the steps you are learning, versus simply telling you to memorize a step or combination given by the instructor. We accomplish this by thoroughly explaining the timing and counts of the music, and how to apply it to the steps you'll learn.</p>

        <p>If you are self-conscious about just starting, or not having the proper foundation, RELAX! That is what we are here to do -- help you lay the groundwork for a lifetime of dance enjoyment!</p>

        <p>At the end of week 4, with this class and a little dedication, you'll be ready for Basic 2 Salsa!</p>


    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Basic 2 Salsa</h2>
        <p>Learn the proper technique and counts to successful cross-body’s, and how to link them to newly learned combinations.</p>

        <strong>Specific techniques you'll learn:</strong>
        <ul>
            <li>Cross-body footwork</li>
            <li>“Partner Tension”</li>
            <li>Different cross-body hand positioning</li>
            <li>Cross-body combinations</li>
            <li>Basic footwork/shines</li>
            <li>Salsa music theory</li>
        </ul>

        <p>At Latin Rhythms, we believe the secret behind smooth cross-body’s is all in the hand and arm "partner tension." Unfortunately, this is something overlooked by most other studios, but is something we feel cannot be compromised in order to lead and follow more clearly.</p>

        <p>This class will prepare you for Basic 3 Salsa!</p>

    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Basic 3 Salsa</h2>
        <p>Learn the proper technique and counts to successful cross-body’s, and how to link them to newly learned combinations.</p>
        <strong>Specific techniques you'll learn:</strong>
        <ul>
            <li> Giving/receiving cross-body with turn</li>
            <li> Introduction to spinning technique</li>
            <li> Advanced cross-body leads </li>
            <li> Cross-body combinations</li>
            <li> Basic footwork/shines</li>
            <li> Salsa music theory</li>
        </ul>
        <p>At Latin Rhythms, we believe the secret behind smooth cross-body’s is all in the hand and arm "partner tension." Unfortunately, this is something overlooked by most other studios, but is something we feel cannot be compromised in order to lead and follow more clearly.</p>

        <p>This class will prepare you for Basic 4 Salsa! </p>

    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Basic 4 Salsa</h2>
        <p>Learn the proper technique and counts to successful cross-body’s, and how to link them to newly learned combinations.</p>
        <strong>Specific techniques you'll learn:</strong>
        <ul>
            <li> Introduction of "in & outs"</li>
            <li> Intermediate footwork/shines</li>
            <li> Giving/receiving cross-body with turn</li>
            <li> Introduction to spinning technique</li>
            <li> Advanced cross-body leads </li>
            <li> Cross-body combinations</li>
            <li> Salsa music theory</li>
        </ul>
    <p>At Latin Rhythms, we believe the secret behind smooth cross-body’s is all in the hand and arm "partner tension." Unfortunately, this is something overlooked by most other studios, but is something we feel cannot be compromised in order to lead and follow more clearly.</p>

    <p>This class will prepare you for Rookie Intermediate 1 Salsa and Ladies/Men Salsa Styling!</p>


    </div>
</div>


<div class = "row">
    <div class = "col-md-12 well">
        <h2>Rookie Intermediate 1 Salsa</h2>
        <p>TWO month minimum at the Rookie Intermediate 1 Salsa level recommended for all of our students.</p>
        <p>Fresh out of the Basics… This class is for students taking Intermediate for the first or second time. In the first Intermediate level class, you'll be introduced to intermediate-level turning combinations.</p>
        <strong>In addition, you will also learn:</strong>
        <ul>
            <li>Fluid connections on turn patterns </li>
            <li>Continuous partner tension & communication</li>
            <li>Introduction of "in & out" variations</li>
        </ul>

        <p>Reinforcing our emphasis on partner tension, we teach our students how to connect their turning combinations smoothly. The analogy we give our students to our leading style is: “When drawing, you don’t want to lift your pen from the paper.” This is also how we feel a gentleman should lead his follow: connecting the cross-body’s and turns without ever letting up on the tension, therefore creating a more clear and comfortable dance for the follow.</p>

        <p>This class prepares you for Intermediate 1 Salsa and/or Ladies/Men Salsa Styling, and/or Footwork/Shines!</p>

    </div>
</div>