<div class = "row">
    <div class = "col-md-12 well">
        <h2>Ladies Salsa Styling</h2>
        <p>Ladies, add comfortable styling and footwork that will flare up your current Salsa/Mambo dancing.</p>
        <strong>Specific techniques learned in Ladies Salsa Styling:</strong>
        <ul>
            <li>  Body isolations</li>
            <li> Proper body posture and positioning</li>
            <li> Footwork/shine combinations</li>
            <li> Successful following tips</li>
            <li> Incorporating the 3 H’s: hair, hands and hips</li>
            <li> Cross body options</li>
            <li> (Multiple) turn options </li>
            <li> Turn Spotting Techniques</li>
        </ul>

        <strong>Why this class is different at Latin Rhythms:</strong>

        <p>Who better than Maricza Valentin to share with us all her styling secrets? Style is subjective, which is why we provide so many styling options for you to choose from in this class. From the conservative to the flamboyant, Maricza covers it all. During the last week of this four-week class, we partner you with some Leads in order to practice all the Following and Styling techniques learned. Ladies, this class is highly recommended! </p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-12 well">
        <h2>Men’s Salsa Styling</h2>
        <p>Guys, add comfortable styling and footwork that will flare up your current Salsa/Mambo dancing.</p>
        <strong>Specific techniques learned in Men's Salsa Styling:</strong>
        <ul>
            <li>  Body Isolations</li>
            <li> Proper body posture and positioning</li>
            <li> Footwork/Shine combinations</li>
            <li> Successful Leading Tips</li>
            <li> Back breaks </li>
            <li> “Guaguanco” movement and rhythm</li>
            <li> Cross body options</li>
            <li> (Multiple) Turn options and tips</li>
            <li> Better hand clarity</li>
        </ul>
        <strong>Why this class is different at Latin Rhythms:</strong>
        <p>Add excitement to your leading. This class will help you feel more comfortable, confident, and playful as a lead. There are a ton of styling options out there, so we try our hardest to expose you to as many as possible. Ladies don’t have to be the only ones styling it up on the floor. We share a lot of tricks and tips for our gentlemen.</p>
    </div>
</div>
